@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --breakpoint-*: initial;
  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-3xl: 2000px;
  --breakpoint-2xl: 1536px;
}
.backface-hidden {
  backface-visibility: hidden;
}
